<!-- app/views/books/index.html.erb -->
<h1><%= t('books.title') %></h1>

<%= link_to t('books.new_book'), new_book_path %>
<%= link_to t('books.backlog'), backlog_books_path %>
<%= link_to t('books.reading'), reading_books_path %>
<%= link_to t('books.completed'), completed_books_path %>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= image_tag book.cover_image if book.cover_image.attached? %>
      <%= link_to book.title, book %> - <%= book.author %> - <%= book.status %>
      <%= link_to t('books.edit_book'), edit_book_path(book) %> |
      <%= link_to t('books.back_to_books'), book, method: :delete, data: { confirm: 'Tem certeza?' } %>
    </li>
  <% end %>
</ul>
