<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Biblioteca Web</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <nav>
    <%= link_to "English", change_language_path(:en) %> |
    <%= link_to "Português", change_language_path(:'pt-BR') %>
  </nav>

  <%= yield %>
</body>
</html>
